{% extends 'main/index.html' %}

{% block content %}
<div class="d-flex p-2 col-10 mx-auto">
<a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'main' %}"> Назад</a>
<span class="mx-3">/</span>
<a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'macros' %}">Обновить</a>
</div>
    <div class="d-flex p-2 col-10 mx-auto">
<h2>Макросы</h2>
    </div>
{% if flag %}
    <div class="d-flex p-2 col-10 mx-auto bg-success-subtle border border-secondary-subtle rounded" >

    <p>Операция успешно выполнена!</p>
</div>

{% else %}
<div class="d-flex p-2 col-10 mx-auto">
<form method="POST" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success btn-sm">Отправить</button>
</form>
</div>
{% endif %}
<div class="d-flex p-2 col-10 mx-auto">
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Регион</th>
        <th scope="col">Начало</th>
        <th scope="col">Конец</th>
        <th scope="col">Основные макросы</th>
        <th scope="col">Вычисляемые макросы</th>
        <th scope="col">Вычисляемые макросы №2</th>
    </tr>
    </thead>
    {% for host in hosts %}
    <tr>

        <td> {{ host.name }} </td>
        <td>{{ host.start }}</td>
        <td>{{ host.end }}</td>
        <td>{{ host.proc }}</td>
        <td>{{ host.speed }}</td>
        <td>{{ host.error }}</td>

    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
